<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"></link>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
  <a class="navbar-brand" href="#">Store</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li th:class="'nav-item ' + ${view == 'pages/home/view' ? 'active' : ''}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a th:class="'nav-link dropdown-toggle ' + ${#strings.contains(view, 'client') ? 'active' : ''}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/clients}">All clients</a>
          <a class="dropdown-item" th:href="@{/clients/new}">New client</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a th:class="'nav-link dropdown-toggle ' + ${#strings.contains(view, 'product') ? 'active' : ''}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/products}">All poducts</a>
          <a class="dropdown-item" th:href="@{/products/new}">New product</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a th:class="'nav-link dropdown-toggle ' + ${#strings.contains(view, 'order') ? 'active' : ''}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/orders}">All orders</a>
          <a class="dropdown-item" th:href="@{/orders/new}">New order</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

</body>
</html>