<div th:fragment="loading">
    
    <div class="card loading">
		  <div class="card-body">
		    <img src="/assets/images/loading.svg" />
		    <span>Loading...</span>
		  </div>
		</div>
    
</div>