html {
	height:100%;
}
body{
	height:100%;	
}

.wrapper {
	min-height:100%;
	position:relative;
	padding-bottom:65px;
}

.navbar {
	margin-bottom:30px;
}

.hide {
	display:none;
}

.container-form {
	max-width:600px;
}

.btn-full{
	width:100%;
}

.full-width {
	width:100%;
	display:block;
}

.main-footer {
	background:#eee;
	width:100%;
	padding:10px;
	display:block;
	margin-top:20px;
	
	position:absolute;
  bottom:0;
  width:100%;
  height:50px;
  font-size:15px; 
}

/*
 Margins
*/
.margin-left-10 {
	margin-left:10px;
}

.margin-top-35 {
	margin-top:35px;
}

.margin-top-20 {
	margin-top:20px;
}

/*
	Paddings
*/
.padding-top-10 {
	padding-top:10px;
}

/*
	Borders
*/
.border-top-light {
	border-top:1px solid #eee;
}

/*
	ERRORS
*/
.validator-errors {
	margin-top:5px;
}

.validator-errors span {
    display:none;
    color: #dc3545;
}
    
.validator-errors span.show {
    display:block;
}

/*
 No padding
*/
.no-padding {
	padding:0;
}

/*
	Status input
*/
.invalid {
	border-color: #dc3545;
}

.valid {
	border-color: #28a745;
}

/*
Containers
*/
.container-list {
	max-width:1200px;
}

/*
	 Form Order
*/
.container-form-order {
	max-width:1000px;
}

.container-form-order .table,
.container-form-order .form-group{
	margin-bottom:0;
}

.container-form-order .client-name {
	padding-top:7px;
}

.container-form-order .product-name,
.container-form-order .subtotal,
.container-form-order .id {	
	display:block;
	vertical-align:top;
}

.container-form-order .product-name {
	margin-top:5px;
}

.container-form-order .id {
	margin-top:7px;
}

.container-form-order .subtotal {
	margin-top:10px;
}

.container-form-order .bar-form{
	margin-top:25px;
}

.container-form-order .select-status {
	display:inline-block;
	width: auto;
	padding:.4rem .75rem .6rem;
}

.container-form-order .table td {
	padding:1.1rem;
}

.container-form-order .table tr.selected {
	background:#e9ecef; 
}

.container-form-order .dt-bootstrap4 .col-sm-12{
	padding-left: 0;
	padding-right: 0;
}

.container-form-order .dt-bootstrap4 .dataTables_info {
	padding-left:10px;
	padding-bottom:10px;
}

.container-form-order .dt-bootstrap4 .dataTables_paginate {
	padding-right:10px;
	padding-bottom:10px;
}

.container-form-order .dt-bootstrap4 .dataTables_length {
	padding-left:10px;
	padding-top:10px;
}

.container-form-order .dt-bootstrap4 .dataTables_filter {
	padding-right:10px;
	padding-top:10px;
}

.container-form-order .table thead th {
	border-bottom:0;
}


//#e9ecef

