<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Form Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div class="container-fluid container-form" th:fragment="content">
		
		<div th:if="${edit}">
			<div th:replace="fragments/loading :: loading"></div>
		</div>
		
		<div th:class="'form ' + ${edit ? 'edit hide' : 'new'}">
				<h2 class="bd-title">
					<i class="fa fa-plus" aria-hidden="true" th:if="${!edit}"></i><i class="fa fa-pencil" aria-hidden="true" th:if="${edit}"></i> &nbsp;<span th:text="${edit ? 'Edit client' : 'New client'}"></span>
				</h2>
				<p>Use the fields below to <span th:text="${edit ? 'edit client' : 'create new client'}"></span>.</p>
			
		    <form action="#" method="post" id="needs-validation" class="form-client margin-top-35" novalidate="novalidate">
		    	<h4><i class="fa fa-user" aria-hidden="true"></i> &nbsp;Personal Info</h4>
		    	<input type="hidden" data-field="code"></input>
		    	
					<div class="form-group">
						<label for="name" class="col-form-label">Name</label>
						<input type="text" data-field="name" class="form-control" id="name" placeholder="Enter name" required="required"></input>
						
						<div class="validator-errors">
	              <span class="help-block" data-error="required">Name is required</span>
	          </div>
					</div>
		    	
		    	<hr></hr>
		    	
		    	<h4><i class="fa fa-location-arrow margin-top-20" aria-hidden="true"></i> &nbsp;Address Info</h4>
		    	
		    	<div class="form-row">
		    		<input type="hidden" data-field="id"></input>
		    	
  	        <div class="form-group col-md-2">
                 <label for="zipcode" class="col-form-label">Zip</label>
                 <input type="text" data-field="zipcode" name="zipcode" class="form-control" id="zipcode" placeholder="Enter zip" required="required"></input>
             </div>
		    	
						<div class="form-group col-md-6">
							<div class="form-group">
								<label for="street" class="col-form-label">Street</label>
								<input type="text" data-field="street" disabled="disabled" name="street" class="form-control" id="street" placeholder="Enter street name" required="required"></input>
							</div>
						</div>
						
						<div class="form-group col-md-4">
							<div class="form-group">
								<label for="district" class="col-form-label">District</label>
								<input type="text" data-field="district" name="district" class="form-control" id="district" disabled="disabled" placeholder="Enter district name" required="required"></input>
							</div>
						</div>
					</div>
				
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="number" class="col-form-label">Number</label>
							<input type="number" data-field="number" name="number" class="form-control" id="number" disabled="disabled" placeholder="Enter number" required="required"></input>
						</div>
						
						<div class="form-group col-md-6">
							<label for="complement" class="col-form-label" >Complement</label>
							<input type="text" data-field="complement" disabled="disabled" name="complement" class="form-control" id="complement" placeholder="Enter complement"></input>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="city" class="col-form-label" >City</label>
							<input type="text" data-field="city" disabled="disabled" name="city" class="form-control" id="city" placeholder="Enter city name" required="required"></input>
						</div>
						<div class="form-group col-md-6">
							<label for="state" class="col-form-label" disabled="disabled">State</label>
							
							<select class="form-control select-state" data-field="state" name="state" disabled="disabled" required="required">
							    
							</select>
						</div>
					</div>
		    	
		    	<hr></hr>
		    	<h4 class="margin-top-20"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;Contacts</h4>
		    	
		    	<div class="contact-list">
		    		<div class="form-row default">
							<div class="form-group col-md-6">
								<label class="col-form-label">Type</label>
								<select name="typeContacts[]" data-field="typeContacts" required="required" class="form-control">
									<option th:each="typeContact: ${typesContact}" th:value="${typeContact.getId()}" th:text="${typeContact.getName()}"></option>
								</select>
							</div>
							
							<div class="form-group col-md-6">
								<label class="col-form-label">Description</label>
								<input type="text" data-field="descriptionContacts" name="descriptionContacts[]" class="form-control" placeholder="Enter description"></input>
							</div>
						</div>
		    	</div>
				
					<div class="form-row">
						<div class="form-group col-md-6">
						</div>
						
						<div class="form-group col-md-6">
							<button type="button" class="btn-add-contact btn btn-primary pull-right">
								Add &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div>
		    	
		    	<hr></hr>
		    	
		    	<div class="form-row">
						<div class="form-group col-md-8">
						</div>
						
						<div class="form-group col-md-4">							
							<button class="btn btn-full btn-success btn-lg btn-submit" disabled="disabled" role="button" aria-pressed="true">
								<span th:text="${edit ? 'Edit' : 'Save'}"></span> client &nbsp; <i class="fa fa-floppy-o" aria-hidden="true"></i>
							</button>
						</div>
		    	</div>
		    </form>
		   	
		   	<div class="modal fade" id="send-form-modal" tabindex="-1" role="dialog" aria-labelledby="send-form-modal" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel"><span th:text="${edit ? 'Updating' : 'Creating'}"></span> client</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">							
						<div class="alert alert-warning load" role="alert" >
							<span th:text="${edit ? 'Updating' : 'Creating'}"></span>...
						</div>
						
						<div class="alert alert-success hide status" role="alert" >
							Client <span class="font-weight-bold client-name"></span> was <span th:text="${edit ? 'updated' : 'created'}"></span> successfully.
						</div>
				      </div>
				      <div class="modal-footer hide">
				        <a href="#" class="btn  btn-close-modal btn-secondary">Ok!</a>
				      </div>
				    </div>
				  </div>
				</div>
		</div>
	   	
	</div>
	
	<div th:fragment="js-file">
		<script src="/assets/js-pages/form-client.js" type="text/javascript"></script>
	</div>
</body>
</html>