<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Form Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div class="container-fluid container-form-order" th:fragment="content">
			
			<div class="loading" th:replace="fragments/loading :: loading"></div>
			
			<div class="alert alert-warning alert-impossible-edit hide" role="alert" >
				<i class="fa fa-exclamation" aria-hidden="true"></i> &nbsp;
				<span>You can not edit this order. It is already finished!</span>
			</div>
			
			<form action="#" th:class="'form-order hide ' + ${edit ? 'edit' : 'new'}" method="post" id="needs-validation" novalidate="novalidate">
	    	<h4><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span th:text="${edit ? 'Edit' : 'New'}"></span> order <span th:if="${edit}" class="order_id"></span></h4>
	    	<p th:if="${edit}">Make a new order</p>
	    	<p th:if="${!edit}">Edit order</p>
	
				<h5 class="margin-top-35"><i class="fa fa-user" aria-hidden="true"></i> Client</h5>	    	
	    	<div class="card card-client margin-top-20">
				  <div class="card-body">
				  	
				  	<div class="row">
				  		
				  		<div class="col col-md-10 client-name">
					    	<h5>Select a client</h5>
					    </div>
					    
					    <div class="col col-md-2">
					    	<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#select-client">Select client</button>
					    </div>
				  	
				  	</div>
				  	
				  	<div class="info-client hide">
				  		<div class="margin-top-20 border-top-light padding-top-10 row">
				  		
					  		<div class="col col-md-6">
					  			<h6>About client</h6>
					  		</div>
						  	
						  	<div class="col col-md-6">
						  		<h6>Contacts</h6>
						  	</div>
					  	
					  	</div>
					  	<div class="row">
					  		<input type="hidden" data-field="client"></input>
					  	</div>
					  	
					  	<div class="row client-info">
					  		
					  		<div class="col col-md-6">					  			
					  			<div class="full-width">
					  				<span>Zipcode: </span>
					  				<span class="zipcode">...</span>
					  			</div>
					  			
					  			<div class="full-width">
					  				<span>Street: </span>
					  				<span class="street">...</span>
					  			</div>
					  			
					  			<div class="full-width">
					  				<span>Number: </span>
					  				<span class="number">...</span>
					  			</div>
					  			
					  			<div class="full-width">
					  				<span>Complement: </span>
					  				<span class="complement">...</span>
					  			</div>
					  			
					  			<div class="full-width">
					  				<span>District: </span>
					  				<span class="district">...</span>
					  			</div>
					  			
					  			<div class="full-width">
					  				<span>City: </span>
					  				<span class="city">...</span>
					  			</div>
					  			
					  			<div class="full-width">
					  				<span>State: </span>
					  				<span class="state">...</span>
					  			</div>
					  		</div>
					  		
					  		<div class="col col-md-6 list-contacts">
					  			
					  		</div>
					  		
					  	</div>
				  	</div>
				  </div>
				</div>
				
				<h5 class="margin-top-35"><i class="fa fa-gift" aria-hidden="true"></i> Products</h5>	    	
	    	<div class="card card-client margin-top-20">
				  <div class="card-body">
				  	<table class="table table-striped">
				  		<col width="15%"></col>
  						<col width="35%"></col>
  						<col width="15%"></col>
  						<col width="15%"></col>
  						<col width="15%"></col>
  						<col width="5%"></col>
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>Product</th>
						      <th>Quantity</th>
						      <th>Price</th>
						      <th>Subtotal</th>
						      <th></th>
						    </tr>
						  </thead>
						  <tbody class="product-order-list">
						    <tr class="no-products">
						    	<td colspan="6">
						    		Add products to this order
						    	</td>
						    </tr>
						  </tbody>
						</table>
				  </div>				  
				</div>
				
				<div class="row bar-form">
					<div class="col col-md-10 form-group">
						<label>Status</label>
						<select data-field="status" class="form-control select-status">
							<option value="1">Not finished</option>
							<option value="2">Finished</option>
						</select>
					</div>
					<div class="col col-md-2">
						<button class="btn btn-full btn-primary btn-modal-product" type="button">
							Add product &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				
				<div class="row bar-form">
					<div class="col col-md-9">
						<h4>Total: US$ <span class="total">0.00</span></h4>
					</div>
					
					<div class="col col-md-3">
						<button class="btn btn-full btn-success btn-lg btn-submit" disabled="disabled" role="button" aria-pressed="true">
							<span th:text="${edit ? 'Edit' : 'Create'}"></span> order &nbsp; <i th:if="${!edit}" class="fa fa-floppy-o" aria-hidden="true"></i><i th:if="${edit}" class="fa fa-pencil" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				
	   	</form>
			
			<div class="modal fade" id="send-form-modal" tabindex="-1" role="dialog" aria-labelledby="send-form-modal" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel"><span th:text="${edit ? 'Updating' : 'Creating'}"></span> order</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			    	<div class="modal-body">							
							<div class="alert alert-warning load" role="alert" >
								<img src="/assets/images/loading.svg" />
								<span th:text="${edit ? 'Updating' : 'Creating'}"></span>...
							</div>
							
							<div class="alert alert-warning hide zero-products-alert" role="alert" >
								You need to add one or more products to this order.
							</div>
							
							<div class="alert alert-success hide status" role="alert" >
								Order was <span th:text="${edit ? 'updated' : 'created'}"></span> successfully.
							</div>
			      </div>
			      <div class="modal-footer footer-send-form hide">
			        <a href="#" class="btn btn-close-modal btn-ok btn-secondary hide">Ok</a>
			        <a href="#" class="btn btn-close-modal btn-cancel btn-secondary hide" data-dismiss="modal">Close</a> 
			      </div>
			    </div>
			  </div>
			</div>
				
			
			<!-- Clients -->
			<div class="modal fade" id="select-client" tabindex="-1" role="dialog" aria-labelledby="select-client-label" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Select a client</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body no-padding">
			        
			        <table class="table table-clients table-striped">
			        	<col width="20%"></col>
  							<col width="80%"></col>
			        
							  <thead>
							    <tr>
							      <th>Code</th>
							      <th>Name</th>
							    </tr>
							  </thead>
							  <tbody class="table-body-clients">
							    
							  </tbody>
							</table>
							
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary btn-submit btn-confirm-client" data-dismiss="modal">Confirm</button>
			      </div>
			    </div>
			  </div>			  
			</div>
			
			<!--  Modal product  -->
		  <div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="add-product-label" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Add product to order</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body no-padding">
			        
			        <table class="table table-products table-striped">
			        	<col width="20%"></col>
  							<col width="80%"></col>
			        
							  <thead>
							    <tr>
							      <th>Code</th>
							      <th>Name</th>
							    </tr>
							  </thead>
							  <tbody class="table-body-products">
							    
							  </tbody>
							</table>
							
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary btn-add-product" data-dismiss="modal">Add</button>
			      </div>
			    </div>
			  </div>
		  </div>
			
	</div>
	
	<div th:fragment="js-file">
		<script src="/assets/js-pages/form-orders.js" type="text/javascript"></script>
	</div>
</body>
</html>