<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Form Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div class="container-fluid container-form" th:fragment="content">
			
			<div class="loading hide" th:replace="fragments/loading :: loading"></div>
			
			<h2 class="bd-title">
				<i class="fa fa-plus" aria-hidden="true"></i> &nbsp;<span th:text="${edit ? 'Edit product' : 'New product'}"></span>
			</h2>
		
			<p>Use the fields below to <span th:text="${edit ? 'edit product' : 'create new product'}"></span>.</p>
					
	    <form action="#" th:class="'form-product margin-top-35 ' + ${edit ? 'edit hide' : 'new'}" method="post" id="needs-validation" novalidate="novalidate">
	    	<h4><i class="fa fa-gift" aria-hidden="true"></i> &nbsp;About product</h4>
				<div class="form-group">
					<input type="hidden" data-field="id"></input>
					<label for="name" class="col-form-label font-weight-bold">Code</label>
					<input type="text" data-field="code" class="form-control" id="code" required="required" min="12" max="12" placeholder="Enter code"></input>
					
					<div class="validator-errors">
              <span class="help-block" data-error="required">Code is required</span>
              <span class="help-block" data-error="min">Code must have 12 characteres</span>
              <span class="help-block" data-error="max">Code must have 12 characteres</span>
          </div>
				</div>
				
				<div class="form-group">
					<label for="name" class="col-form-label font-weight-bold">Name</label>
					<input type="text" data-field="name" class="form-control" id="name" placeholder="Enter name" required="required"></input>
					
					<div class="validator-errors">
              <span class="help-block" data-error="required">Code is required</span>
          </div>
				</div>
		    	
		    <hr></hr>
		    	
	    	<h4><i class="fa fa-money" aria-hidden="true"></i> &nbsp;Prices</h4>
	    	<div class="form-row default">
					<div class="form-group col-md-6">
						<label class="font-weight-bold col-form-label">Region</label>
					</div>
					
					<div class="form-group col-md-6">
						<label class="font-weight-bold col-form-label">Price</label>
					</div>
				</div>
			
				<div class="form-row products-price">
					<div class="form-group col-md-6">
						<input name="regionsCode" type="hidden" data-field="regionId"></input>
						<span class="full-width">Region</span>
					</div>
				
					<div class="form-group col-md-6">
						<div class="input-group mb-2 mb-sm-0">
	        		<div class="input-group-addon">$</div>
	        		<input type="number" data-field="price" min="0" value="0" class="form-control" placeholder="Enter price for"></input>
	        	</div>
					</div>
				</div>
	    	
	    	<div class="form-row">
					<div class="form-group col-md-8">
					</div>
					
					<div class="form-group col-md-4">
						<button class="btn btn-full btn-success btn-lg btn-submit" disabled="disabled" role="button" aria-pressed="true">
							<span th:text="${edit ? 'Edit' : 'Save'}"></span> product &nbsp; <i class="fa fa-floppy-o" aria-hidden="true"></i>
						</button>
					</div>
	    	</div>
	    </form>
	   	
	   	<div class="modal fade" id="send-form-modal" tabindex="-1" role="dialog" aria-labelledby="send-form-modal" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel"><span th:text="${edit ? 'Updating' : 'Creating'}"></span> product</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">							
						<div class="alert alert-warning load" role="alert" >
							<span th:text="${edit ? 'Updating' : 'Creating'}"></span>...
						</div>
						
						<div class="alert alert-success hide status" role="alert" >
							Product <span class="font-weight-bold product-name"></span> was <span th:text="${edit ? 'updated' : 'created'}"></span> successfully.
						</div>
				      </div>
				      <div class="modal-footer hide">
				        <a href="#" class="btn btn-close-modal btn-secondary">Ok!</a>
				      </div>
				    </div>
				  </div>
				</div>
	</div>
	
	<div th:fragment="js-file">
		<script src="/assets/js-pages/form-product.js" type="text/javascript"></script>
	</div>
</body>
</html>